*{
margin: 0;
padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

main{
    flex: 1

}

.cabecalho{
    color: pink;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ;

}
.cartao-imagem{
    width: 260px;
    height: 200px;

}

.cartao-imagem{
    width: 100%;
    
}

.crtao-interno{

 position: relative;

}

.cartao-frente, .cartao-verso{

    position: absolute;
}